.main-slider {
    width: 100%;
    height: 100vh;
    position: relative;

    overflow: hidden;

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(36, 36, 36, 1);
        opacity: 0.7;
        z-index: 2;
    }

    &__bg-img {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;

        background-repeat: no-repeat;
        background-size: cover;
        // background-attachment: fixed;

        @include mobile {
            background-position-x: 80%;
        }
    }

    &__text {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        img {
            width: 84px;
            height: 84px;
            transform: translateX(-14px);

            @include mobile {
                transform: translate(0px);
            }
        }

        p {
            color: var(--white-color);
            font-size: 70px;
            margin-bottom: 1.5rem;
        }

        p:nth-of-type(1) {
            letter-spacing: 3px;

            @include mobile {
                font-size: 30px;
            }
        }

        p:nth-of-type(2) {
            font-size: 16px;
            letter-spacing: 3px;
            font-family: var(--font-rale-way);
            position: relative;

            @include mobile {
                font-size: 14px;
                line-height: 1.5;
            }

            &::after,
            &::before {
                content: "";
                width: 35px;
                height: 1px;
                background-color: var(--white-color);
                position: absolute;
                top: 50%;

                @include mobile {
                    display: none;
                }
            }

            &::after {
                right: -10px;
            }

            &::before {
                left: -10px;
            }
        }
    }
}

.main-invitation {
    display: flex;
    align-items: center;
    justify-content: center;
    --space: 60px;
    padding-top: calc(var(--space) + 40px);
    padding-bottom: calc(var(--space) + 40px);
    gap: var(--space);

    @include mobile {
        --space: 30px;
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
    }

    >div {
        width: 555px;
        height: 600px;
        background-color: #fff;
        box-shadow: 0px 2px 4px #ccc;
        border-radius: 4px;
        flex-shrink: 0;

        @include mobile {
            width: 100%;
        }
    }

    &__left,
    &__right {
        position: relative;
        padding: 50px;

        @include mobile {
            padding: 20px;
            height: 555px !important;
        }

        &__flower {
            position: absolute;
            user-select: none;
        }

        &__box {
            width: 100%;
            height: 100%;
            border: 4px solid rgba(0, 0, 0, 0.2);
            padding: 16px;
            border-radius: 4px;
        }
    }

    &__left {
        &__flower {
            top: -70px;
            left: -180px;

            @include mobile {
                width: 180px;
                top: -30px;
                left: -75px;
            }
        }
    }

    &__right {
        &__flower {
            right: -170px;
            bottom: -130px;

            @include mobile {
                width: 210px;
                right: -15px;
                bottom: -50px;
            }
        }
    }
}

.mini_calendar {
    border-bottom: 1px solid #E3E3E6;
    padding-bottom: 20px;

    .calendar-month {
        text-align: center;
        margin-bottom: 12px;
        font-weight: 600;
        color: var(--black-color);
        font-size: 1.25rem;
    }

    .this-day {
        border-radius: 50%;
        border: 2px solid #ccc;
        width: 30px;
        height: 30px;
        display: inline-block;
    }

    table {
        width: 100%;
        border-spacing: 0px;

        th {
            text-align: center;
            padding: 8px 0;
            color: #484747;
            border-top: 1px solid #CFCFD0;
            border-bottom: 1px solid #CFCFD0;
            font-size: 1rem;
            font-weight: normal;
        }

        td {
            width: 40px;
            height: 40px;
            padding-top: 20px;
            text-align: center;
            vertical-align: middle;
            font-size: 1.15rem;
        }
    }
}

.count-down-boxes {
    display: flex;

    >div {
        width: calc(100% / 4);
        text-align: center;
        padding: 30px 15px 0;
        display: flex;
        flex-direction: column;

        span {
            font-size: 1.25rem;
        }

        .date {
            font-family: "Great Vibes", cursive;
            font-size: 3rem;
        }
    }
}