* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  background-image: url('../assets/bg.png');
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
}

.aspect-ratio {
  width: 100%;
  position: relative;

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

#ReactSimpleImageViewer {
  z-index: 99 !important;
}

p {
  margin: 0;
}

a {
  color: #1890ff;
  text-decoration: none;
}