* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'EB Garamond', serif;
}

:root {
  --text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
}

.aspect-ratio {
  width: 100%;
  position: relative;

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

#ReactSimpleImageViewer {
  z-index: 99 !important;
}

p {
  margin: 0;
}

a {
  color: #1890ff;
  text-decoration: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  // background-image: url('../assets/bg.png');
  // background-image: url('../assets/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}